archive/
.venv/
.env
# Local run snapshots (prompts, rows) created by edgar_ai CLI
tmp*/
pytest-of-*/
.pytest_cache/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.env

# VSCode dev container cache
.devcontainer/
